@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  /* background-color: #f7ede8; */
  background-image: url('../src/images/bcg.png');
  background-size: cover;
  background-repeat: no-repeat;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-bottom: 2.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* loader */
.lds-grid {
  display: inline-block;
  position: relative;
  /* top: 50%;
  right: 50%; */
  z-index: 2;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #d04298;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.refreshing-user {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0px;

  align-items: center;
  justify-content: center;
  margin: 30px auto 30px auto;

  /* padding: 5px; */
  list-style: none;
  max-width: 500px;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75;
  letter-spacing: 0.02857em;

  background-color: #f7ede8;
  border: 1.5px solid #000000;
  box-shadow: 6px 6px 0px rgba(129, 173, 200, 0.5);
  border-radius: 8px;
}
